{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Discussion guide for 'Disability Visibility' - Running an Accessibility Book Club
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/reading-list">Reading list</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Discussion guide for 'Disability Visibility'</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Discussion guide for 'Disability Visibility'
      </h1>

      <p>Below are some suggestions of questions to help facilitate a 30 minute discussion on the book, 'Disability Visibility'.</p>

      <p>All questions are optional - they are inteded as starting points for discussions.</p>

      <p>Lastly - when creating these, be careful to avoid writing questions that contain spoilers!</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What was your favourite essay?</li>
        <li>Which essay did you find the most challenging?</li>
        <li>Which essayist would you  most like to go for coffee and a chat with?</li>
        <li>What things did you learn, that you'd not previously known?</li>
      </ul>

    </div>

  </div>
{% endblock %}
