{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Discussion guide for 'Mental: A History of the Madhouse' - Running an Accessibility Book Club
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/reading-list">Reading list</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Discussion guide for 'Mental: Inside the Madhouse'</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Discussion guide for 'Mental: Inside the Madhouse'
      </h1>

      <p>Below are some suggestions of questions to help facilitate a 30 minute discussion on the documentary, 'Mental: a history of the madhouse'.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>How did watching the documentary make you feel? What were your initial thoughts?</li>
        <li>Who's story shocked you the most in the documentary?</li>
        <li>What community support is currently available for mental health issues? What treatment is currently on offer for mental
        illness in the UK?</li>
        <li>The document talks about abuse of power vs treatment - lithium, "insulin treatment", ECT and "thump therapy". What do
        you think allowed this to happen? Ego - carers vs curers? How do we know current practises are ethical?</li>
        <li>What do you think to R.D.Lang's view that madness is a normal reaction to the mad world we live in?</li>
      </ul>

    </div>

  </div>
{% endblock %}
