{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Discussion guide for 'Mission: Accessible' - Running an Accessibility Book Club
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/reading-list">Reading list</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Discussion guide for 'Mission: Accessible'</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Discussion guide for 'Mission: Accessible'
      </h1>

      <p>Below are some suggestions of questions to help facilitate a 30 minute discussion on the film, 'Mission: Accessible'.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Did you like this film?</li>
        <li>What feelings did the film evoke for you?</li>
        <li>Did anything particular in the film shock you, or stand out as something you'd not known before?'</li>
        <li>Which person in the film would you most like to meet?</li>
        <li>If you could hear this same story from another person's point of view, who would you choose?</li>
      </ul>

    </div>

  </div>
{% endblock %}
