{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Discussion guide for 'Crip Camp' - Running an Accessibility Book Club
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/reading-list">Reading list</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Discussion guide for 'Crip Camp'</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Discussion guide template
      </h1>

      <p>Try to create a mix of closed questions and open questions. An example of a closed question could be, 'who was your favourite character?' and an example of a closed question could be 'how did you feel after watching/reading the material?' or 'what did you think of the decision to include X or Y in the material?'.</p>

      <p>All questions are optional - they are inteded as starting points for discussions.</p>

      <p>Lastly - when creating these, be careful to avoid writing questions that contain spoilers!</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Question 1</li>
        <li>Question 2</li>
        <li>Question 3</li>
        <li>Question 4</li>
      </ul>

    </div>

  </div>
{% endblock %}
