{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Facilitating book club sessions - Running an Accessibility Book Club
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Reading list</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Reading list
      </h1>

      <p>This is a collection of books, films, documentaries and podcasts on the topic of accessibility.</p>

      <p>This list aims to focus on books that centre disabled people, or disability, rather than accessibiity as a technical topic. It also aims to focus on books created by disabled writers.</p>

      <p>Inclusion of the media on the list doesn't necessarily endorse the views presented it on it. It just suggests it as a starting point for a discussion.</p>

      <h2 class="govuk-heading-m">Existing discussion guides</h2>
      <p>This is a collection of media that already has a discussion guides.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/discussion-guides/crip-camp">Discussion guide for 'Crip Camp', film</a></li>
        <li><a href="/discussion-guides/mission-accessible">Discussion guide for 'Mission: Accessible', TV series</a></li>
        <li><a href="/discussion-guides//mental-history-of-the-madhouse">Discussion guide for 'Mental: A History of the Madhouse', documentary</a></li>
        <li><a href="/discussion-guides/inside">Discussion guide for 'Inside by Bo Burnham', film</a></li>
        <li><a href="/discussion-guides/rising-phoenix">Discussion guide for 'Rising Phoenix', documentary</a></li>
        <li><a href="/discussion-guides/paralympics-unfair-games">Discussion guide for 'Paralymics: the unfair games?', documentary</a></li>
      </ul>

      <h2 class="govuk-heading-m">Media that doesn't yet have a discussion guide</h2>

      <p>The following are lists of media that are related to the topic of disability, but don't yet have discussion guides. If you run a book club session on any them and create discussion questions, please consider submitting the discussion guide!</p>

      <h2 class="govuk-heading-s">Books</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>‘Disability Visibility’ by Alice Wong</li>
        <li>‘Haben’ by Haben Girma</li>
        <li>‘Being Heumann’ by Judith Heumann</li>
        <li>‘Mismatch’ by Kat Holmes</li>
        <li>‘Accessibility for everyone’ by Laura Kalbag</li>
        <li>'Inclusive Design for a Digital World' by Regine M. Gilbert</li>
        <li>'Design meets Disability' by Graham Pullin</li>
      </ul>

    </div>

  </div>
{% endblock %}
